<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>708529425960-hvnr1jpfture5h1dcsajguvc213bo9hu.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.708529425960-hvnr1jpfture5h1dcsajguvc213bo9hu</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>708529425960-amqa2chp4m4tkp6ra1g41jemeh9aqqra.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDbbryjTpozxxFeSKUpdx2ShXb-RZLJxa4</string>
	<key>GCM_SENDER_ID</key>
	<string>708529425960</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.iqonic.booksto</string>
	<key>PROJECT_ID</key>
	<string>e-book-b4248</string>
	<key>STORAGE_BUCKET</key>
	<string>e-book-b4248.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:708529425960:ios:226e89309f76be7c27ef1d</string>
	<key>DATABASE_URL</key>
	<string>https://e-book-b4248.firebaseio.com</string>
</dict>
</plist>
